
body {
  background-color: #C5B28A;
}

button {
  display: block;
  color: #62805D;
}

.card {
  
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem; */
  border-radius: 4px;
  margin: 10px;
}


/* * {
  border: 1px solid red;
} */